Repository ClimateBert/climatebert.ai: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix

.lintstagedrc:

{
  "**.{ts,tsx}": ["yarn prettier --write", "yarn eslint --fix"],
  "**.{json,md,mdx,css,html,js}": ["yarn prettier --write"]
}

save because my mouse died
  components/background.tsx
  components/logo.tsx
  components/section.tsx
  next-env.d.ts
  package.json
  pages/index.tsx
  public/aurora.jpeg
  public/header 1.jpg
  public/header.jpg
  tailwind.config.js
  tsconfig.json
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix

ci: add next bundle analyzer
  .github/workflows/nextjs_bundle_analysis.yml
  package.json
Due: yarn prettier --write

ci: add next bundle analyzer (#1)
  .github/workflows/nextjs_bundle_analysis.yml
  package.json
Due: yarn prettier --write

style: remove long lines
  .github/workflows/nextjs_bundle_analysis.yml
  components/background.tsx
  components/logo.tsx
  package.json
  pages/index.tsx
  tsconfig.json
Due: yarn prettier --write, yarn eslint --fix

ci: add sentry env
  .github/workflows/nextjs_bundle_analysis.yml
Due: none

fix: eslint
  .github/workflows/nextjs_bundle_analysis.yml
  components/background.tsx
  package.json
  pages/index.tsx
  sentry.client.config.js
  sentry.server.config.js
  tsconfig.json
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix

feat: blur images on load
  components/background.tsx
  components/section.tsx
  pages/index.tsx
Due: yarn prettier --write, yarn eslint --fix

chore: mouse died again
  pages/index.tsx
  public/aurora.jpg
Due: yarn prettier --write, yarn eslint --fix

chore: merge
  .env
  pages/index.tsx
Due: yarn prettier --write, yarn eslint --fix

feat: rate limit
  .env
  lib/jwt.ts
  lib/redis.ts
  package.json
  pages/api/classify.ts
  pages/index.tsx
  scripts/create-access-token.ts
  tailwind.config.js
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix

feat: rate limit
  lib/redis.ts
  pages/api/classify.ts
Due: yarn prettier --write, yarn eslint --fix

feat: styling
  pages/api/classify.ts
  pages/index.tsx
Due: yarn prettier --write, yarn eslint --fix

fix: use coolGray
  pages/index.tsx
Due: yarn prettier --write, yarn eslint --fix

feat: feature sections
  pages/_app.tsx
  pages/classify.tsx
  pages/index.tsx
  pdf.js
  public/tech-wallpaper.jpg
  public/wasted-4.jpg
  public/wasted.jpg
Due: yarn prettier --write, yarn eslint --fix

fix: max width of features
  pages/index.tsx
Due: yarn prettier --write, yarn eslint --fix

chore: clean up
  pages/api/hello.ts
  pages/api/parse-pdf
Due: yarn prettier --write, yarn eslint --fix

chore: clean up
  package.json
Due: yarn prettier --write

chore: clean up
  yarn.lock
Due: none

chore: clean up
  package.json
  yarn.lock
Due: yarn prettier --write

chore: clean up
  pages/index.tsx
Due: yarn prettier --write, yarn eslint --fix

feat: add /analyzer route
  lib/jwt.ts
  lib/redis.ts
  package.json
  pages/analyzer.tsx
  pages/api/classify.ts
  pages/index.tsx
  public/Baltic-sea-beach-entrance.jpg
  tailwind.config.js
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix

feat: add /analyzer route
  pages/index.tsx
Due: yarn prettier --write, yarn eslint --fix

feat: navbar
  components/navbar.tsx
  pages/analyzer.tsx
  pages/authors.tsx
  pages/index.tsx
  public/authors/julia_anna_bingler.jpg
  public/authors/markus_leippold.jpg
  public/authors/mathias_kraus.jpg
  public/authors/nicolas_webersinke.jpg
Due: yarn prettier --write, yarn eslint --fix

feat: add tslog
  .github/README.md
  package.json
  pages/api/classify.ts
  scripts/create-access-token.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix

fix: github link
  components/navbar.tsx
Due: yarn prettier --write, yarn eslint --fix

ci: add ci
  .github/dependabot.yml
  .github/workflows/ci.yaml
  .github/workflows/nextjs_bundle_analysis.yml
Due: none

chore: clean up
  pdf.txt
Due: none

feat: favicon
  pages/_app.tsx
  public/favicon.ico
  public/favicon.png
Due: yarn prettier --write, yarn eslint --fix

feat: favicon (#6)
  pages/_app.tsx
  public/favicon.ico
  public/favicon.png
Due: yarn prettier --write, yarn eslint --fix

feat: navbar colors
  components/navbar.tsx
  public/Baltic-sea-beach-entrance.jpg
Due: yarn prettier --write, yarn eslint --fix

feat: navbar colors (#7)
  components/navbar.tsx
  public/Baltic-sea-beach-entrance.jpg
Due: yarn prettier --write, yarn eslint --fix

feat: various ui changes
  .env
  pages/analyzer.tsx
  pages/api/classify.ts
  pages/index.tsx
Due: yarn prettier --write, yarn eslint --fix

feat: various ui changes (#24)
  .env
  pages/analyzer.tsx
  pages/api/classify.ts
  pages/index.tsx
Due: yarn prettier --write, yarn eslint --fix

feat(landing): copy the vercel hero section
  pages/index.tsx
Due: yarn prettier --write, yarn eslint --fix
